.container-botoes {
  margin: 2rem 1rem;
}

.btn-floating.edit {
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
}
.btn-floating.edit:hover {
  border-color: #ff9100;
  background: #e3e3e3;
}
.btn-floating.edit i {
  color: white;
  transition: 0.3s;
}
.btn-floating.edit i:hover {
  color: #ff9100;
}
.btn-floating.delete {
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
}
.btn-floating.delete:hover {
  border-color: red;
  background: #e3e3e3;
}
.btn-floating.delete i {
  color: white;
  transition: 0.3s;
}
.btn-floating.delete i:hover {
  color: red;
}
